 form
	{
		box-sizing:		border-box;
		margin:			0;
		border: double;
		padding: 8px;
	}	
body
	{
		padding:		1em;
	}
:lang(fa)
	{
		direction: rtl;
	}
input,textarea
	{
		width: 30%;
				
	}
textarea
	{
		height: 6em;
	}
	.btn
	{
		border-radius:	20px; 
		height:			40px;
		margin:			8px 0px 0px 8px; 
	
		min-width:		64dp;	
		padding:		0px 16px 0px 16px;
	}
.btn *
	{
		vertical-align:	middle;
		
			
	}	
.btn-contained.primary
	{
		background-color:	blue;
		color:				white;
	/*	font-weight:        bold;*/  /* just in case*/
	}
.btn-contained.secondary
	{
		background:  none;
		border-color: #04AA6D;
		color: green;
		font-weight:        bold;
	}

.btn i
	{
		font-size:		18px;
	}
			
		