     		form
			{
			border: double;
			padding: 25px;
			}
			:lang(fa)
			{
				direction: rtl;
			}
			input,textarea
			{
				width: 30%;
				
			}
			textarea
			{
				height: 6em;
			}
			
			
		